.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f5f5f5;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100px;
}

.back-button:hover {
  background-color: #333;
  color: #f5f5f5;
}
