body{
    background-color: #26afac
}

label {
    font-family: "Inter", Helvetica;
    color: white;
    display: block;
    font-size: 20px;
}

input[type="number"],
    select {
        font-family: "Inter", Helvetica;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        margin-bottom: 1px;
        width: 30%;
    }

input[type="text"],
select {
    font-family: "Inter", Helvetica;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 1px;
    width: 30%;
}

input[type="height"],
select {
    font-family: "Inter", Helvetica;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 1px;
    width: 5%;
}

select {
    font-family: "Inter", Helvetica;
    width: 30%;
}

button{
    font-family: "Inter", Helvetica;
    position: relative;
    left: 43%;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


button:hover{
    font-family: "Inter", Helvetica;
    background-color: #0062cc;
}


h1{
    font-family: "Inter", Helvetica;
}

h2{
    font-family: "Inter", Helvetica;
}

h3{
    font-family: "Inter", Helvetica;
    color: white;
    font-size: 35px;
}

ul{
    font-family: "Inter", Helvetica;
    list-style: none;

}
a:link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;

}

a:visited {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;
}

a:active {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;
}


.calculatePageOverlap{
    background-color: #165C60;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 70px;
}


.topLogoTextWrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 45px;
  letter-spacing: -1.82px;
  line-height: 100px;
  position: relative;
  white-space: nowrap;
}


/*grey body*/ 
.calculatePageGreyBody{
    background-color: #165C60;
    font-size: 25px;
    height: 600px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20%;
    bottom: 20%;
    white-space: wrap;
    text-align: left;
    padding: 40px;
}

.calculatePageResultBody{
    position: absolute;
    left: 65%;
    right: 15%;
    bottom: 45%;
    border-radius: 5px;
}

.calculatePageResultTextWrapper{
    font-family: "Inter", Helvetica;
    font-size: 25px;
    color: white;
    line-height: 30px;
    position: relative;
}

.ResultTextWrapper{
    font-style: Bold;
    font-size: 40px;
    line-height: 60px;
}

.homeNavigateMenu{
    font-family: "Inter", Helvetica;
    position: absolute;
    left: 85%;
    bottom: 10%;
    background-color: #1ca655;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.homeNavigateMenu:hover{
    font-family: "Inter", Helvetica;
    background-color: #0f5f30;
}

