body {
  background-color: #26afac;
}

.calculate-page-overlap {
  background-color: #165c60;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.top-logo-text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 45px;
  letter-spacing: -1.82px;
  line-height: 100px;
  position: relative;
  white-space: nowrap;
}

.food-input-grey-body{
    background-color: #165C60;
    height: 600px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20%;
    bottom: 20%;
    text-align: left;
    padding: 40px;

}

.food-table {
  width: 100%;
  color: white;
}

.foodTableWrapper {
  margin-top: 40px;
  height: 65%;
  overflow: scroll;
  overflow-x: hidden; /*Hide horizontal scrollbar */
  scrollbar-color: white;
}

Table{
    font-family: "Inter", Helvetica;
    width: 100%;
    color: white;
    text-align: left;

}

th{
    font-size: 30px;
}

td {
  font-size: 20px;
}


button[type=remove] {
  font-family: "Inter", Helvetica;
  background-color: #007bff;
  color: #ffffff;
  width: 80%;
  left: 0%;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  align-items: left;
}

Form[type=foods] {
  font-family: "Inter", Helvetica;
  background-color: #007bff;
  color: #ffffff;
  width: 80%;
  left: 0%;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  align-items: left;
}
