.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
  }
  
  .image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-image {
    width: 100%;
    height: auto;
  }
  
  .profile-info text {
    margin-top: 10px;
  }
  
  .info-item {
    margin-bottom: 5px;
  }