

body{
    background-color: #26afac
}

label {
    font-family: "Inter", Helvetica;
    display: block;
    margin-bottom: 1px;
    margin-left: 10%;
}

input[type="number"],
    select {
        font-family: "Inter", Helvetica;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        margin-bottom: 1px;
        width: 20%;
    }


input[type="text"],
select {
    font-family: "Inter", Helvetica;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 1px;
    width: 10%;
}

select {
    font-family: "Inter", Helvetica;
    width: 25%;
}

button{
    font-family: "Inter", Helvetica;
    position: absolute;
    right: 25%;
    left: 40%;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


button:hover{
    font-family: "Inter", Helvetica;
    background-color: #0062cc;
}


h1{
    font-family: "Inter", Helvetica;
}

h2{
    font-family: "Inter", Helvetica;
    margin-left: 5%;
}

h3{
    font-family: "Inter", Helvetica;
}


.calculate-page-overlap{
    background-color: #165C60;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 70px;
}

.top-logo-text-wrapper{
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 45px;
    letter-spacing: -1.82px;
    line-height: 100px;
    position: relative;
    white-space: nowrap;
}


/*grey body*/ 
.calculate-page-grey-body{
    background-color: #d9d9d9;
    height: 600px;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 18%;
    bottom: 5%;
    height: 75%;
    width: 60%;
}

.calculate-page-result-body{
    background-color: rgb(194, 192, 192);
    height: 60px;
    position: absolute;
    left: 60%;
    right: 20%;
    bottom: 45%;
    padding: 10px;
    border-radius: 5px;
}

.calculate-page-result-text-wrapper{
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: bold;
    left: 45px;
    line-height: 15px;
    position: relative;
    white-space: nowrap;
}

