body{
    background-color: #26afac
}

label {
    font-family: "Inter", Helvetica;
    display: block;
    margin-bottom: 1px;
    margin-left: 10%;
}

input[type="number"],
    select {
        font-family: "Inter", Helvetica;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        margin-bottom: 1px;
        width: 20%;
    }


input[type="text"],
select {
    font-family: "Inter", Helvetica;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 1px;
    width: 10%;
}

select {
    font-family: "Inter", Helvetica;
    width: 25%;
}

button{
    font-family: "Inter", Helvetica;
    position: absolute;
    right: 25%;
    left: 40%;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


button:hover{
    font-family: "Inter", Helvetica;
    background-color: #0062cc;
}


h1{
    font-family: "Inter", Helvetica;
}

h2{
    font-family: "Inter", Helvetica;
    margin-left: 5%;
}

h3{
    font-family: "Inter", Helvetica;
}

ul{
    font-family: "Inter", Helvetica;
    list-style: none;

}
a:link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;

}

a:visited {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;
}

a:active {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", Helvetica;
}


.home-page-overlap{
    background-color: #165C60;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height:70px;
}

.top-logo-text-wrapper{
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 45px;
    letter-spacing: -1.82px;
    line-height: 100px;
    position: relative;
    white-space: nowrap;
}

.calcuate-navigate-menu{
    font-family: "Inter", Helvetica;
    position: absolute;
    
    left: 85%;
    bottom: 10%;
    background-color: #1ca655;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.calcuate-navigate-menu:hover{
    font-family: "Inter", Helvetica;
    background-color: #0f5f30;
}

.home-navigate-menu{
    font-family: "Inter", Helvetica;
    position: absolute;
    left: 70.8%;
    bottom: 10%;
    background-color: #1ca655;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.home-navigate-menu:hover{
    font-family: "Inter", Helvetica;
    background-color: #0f5f30;
}

.login-navigate-menu{
    font-family: "Inter", Helvetica;
    position: absolute;
    left: 78%;
    bottom: 10%;
    background-color: #1ca655;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-navigate-menu:hover{
    font-family: "Inter", Helvetica;
    background-color: #0f5f30;
}

.profile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.Img-wrapper{
      display: flex;
      flex-direction: row;
      width: 100%;
      position: absolute;
      text-align: center;
      top: 80%;
      align-items: center;
      justify-content: center;

      gap: 200px;
}

.image{
    flex-grow: 1;
}
