body{
  background-color: #26afac;
}

.calculate-page-overlap{
  background-color: #165C60;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.top-logo-text-wrapper{
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 45px;
  letter-spacing: -1.82px;
  line-height: 100px;
  position: relative;
  white-space: nowrap;
}